In [46]:
import pandas as pd
import numpy as np
from math import log
from __future__ import division

In [15]:
names = ["class", "a1", "a2", "a3", "a4", "a5", "a6"]
name_map = dict(enumerate(names))

In [16]:
name_map

{0: 'class', 1: 'a1', 2: 'a2', 3: 'a3', 4: 'a4', 5: 'a5', 6: 'a6'}

In [36]:
df = pd.read_csv("./monks-1.train.txt", delimiter=' ', header=None, names=["x", "class", "a1", "a2", "a3", "a4", "a5", "a6", "id"])

In [37]:
df.head()

    x  class  a1  a2  a3  a4  a5  a6       id
0 NaN      1   1   1   1   1   3   1   data_5
1 NaN      1   1   1   1   1   3   2   data_6
2 NaN      1   1   1   1   3   2   1  data_19
3 NaN      1   1   1   1   3   3   2  data_22
4 NaN      1   1   1   2   1   2   1  data_27

In [50]:
# entropy of a1

In [49]:
df.groupby('class').count()

       x  a1  a2  a3  a4  a5  a6  id
class
0      0  62  62  62  62  62  62  62
1      0  62  62  62  62  62  62  62

In [51]:
total = 62+62
entropy = -1. * 62/total * log(62/total,2) + -1. * 62/total* log(62/total,2)
entropy

1.0

In [69]:
df.groupby(['a1', 'class']).id.count().reset_index()

   a1  class  id
0   1      0  31
1   1      1  14
2   2      0  20
3   2      1  22
4   3      0  11
5   3      1  26

In [72]:
entropy_a1_1 = -(31/(31+14))*log((31/(31+14)), 2) - (14/(31+14))*log((14/(31+14)), 2)
entropy_a1_2 = -(20/(20+22))*log((20/(20+22)), 2) - (22/(20+22))*log((22/(20+22)), 2)
entropy_a1_3 = -(11/(11+26))*log((11/(11+26)), 2) - (26/(11+26))*log((26/(11+26)), 2)

print entropy_a1_1, entropy_a1_2, entropy_a1_3

0.894451884534 0.998363672594 0.877962001394

In [74]:
ig = 1 - ((31+14)/62)*entropy_a1_1 - ((20+22)/62)*entropy_a1_2 - ((11+26)/62)*entropy_a1_3
ig

-0.8494548887833612

In [76]:
# next
df_a1 = df[df.a1==1]

In [78]:
df_a1.groupby(['a2', 'class']).id.count().reset_index()

   a2  class  id
0   1      1   9
1   2      0  15
2   2      1   2
3   3      0  16
4   3      1   3

In [59]:
total = 31+14
entropy = -1. * 31/total * log(31/total,2) + -1. * 14/total* log(14/total,2)
entropy

0.8944518845341284

In [63]:
df[df.a1==1][['class', 'a1', 'a2']].groupby(['a1', 'a2']).count().reset_index()

   a1  a2  class
0   1   1      9
1   1   2     17
2   1   3     19

In [64]:
total = 9+17+19
entropy = -1. * 9/total * log(9/total,2) + -1. * 17/total* log(17/total,2) + -1. * 19/total* log(19/total,2)
entropy

1.5201460725593479

In [79]:
import random

In [82]:
igs = [random.random() for i in range(6)]

In [83]:
igs

[0.3340356956554782,
 0.9255390481907085,
 0.3213233182737766,
 0.22182663795639468,
 0.9021030610401051,
 0.9964348224542396]

In [86]:
print max(igs)
print [i for i, j in enumerate(igs) if j == max(igs)]

0.996434822454
[5]

In [87]:
#build tree

# for i in unique_values_of_feature:
#     tree.root.add_node(i)

NameError: name 'unique_values_of_feature' is not defined

In [91]:
z = df.values.tolist()

In [99]:
x = range(10)
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [102]:
x.pop(4)

5

In [103]:
x

[0, 1, 2, 3, 6, 7, 8, 9]